#cta {
    width: 1320px;
    height: 500px;
    max-width: 1320px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc600;
}

#container-cta {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-heading {
    margin-bottom: 20px;
    color: #292e47;
    font-size: 40px;
}

.cta-subtitle {
    font-size: 17px;
    margin-bottom: 0px;
}

.cta-textfield-wrapper {
    position: relative;
    border: 1px solid #cccccc;
}

.textfield-icon {
    position: absolute;
    left: 8%;
    top: 27%;
    right: auto;
    bottom: auto;
    width: 30px;
    height: 30px;
    background-image: url(/project-assets/newsletter/icon/mail.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}

.cta-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-block {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
}

.text-field {
    width: 321px;
    height: 78px;
    margin-bottom: 0px;
    padding-left: 70px;
    background-color: #ecf7ff;
    color: #292e47;
    border: none;
}

.form-button {
    height: 80px;
    width: 185.55px;
    margin-left: 20px;
    padding: 15px 60px;
    border: none;
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
    color: white;
}

@media (max-width: 420px) {
    
}

/* Responsive tablet */
@media (max-width: 820px) {
    #container-cta {
        width: 760px !important;
    }

    #cta {
        width: 820px !important;
    }
}

/* Responsive desktop */
@media (min-width: 820px) {

}